<div class="container">
  <h1 class="mt-5 mb-4">Anúncios laterais</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Restaurante</th>
      </tr>
    </thead>
    <tbody>
      <% @ads.each do |ad|  %>
          <tr>
              <td><%= link_to ad.name, ad_path(ad.id), class:"text-dark" %></td>
              <td><%= link_to ad.restaurant.name, restaurant_path(ad.restaurant), class:"text-dark" %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-sm-5 mt-4">
  <%= link_to 'Novo anúncio', new_ad_path, class:"btn btn-primary" %>
    <%= link_to 'Voltar', root_path, class:"btn btn-outline-dark" %>
  </div>
</div>