<div class="container">
  <%= link_to 'Novo anúncio', new_ad_path, class:"btn btn-dark" %>

  <h2>Anúncios</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Restaurante</th>
      </tr>
    </thead>
    <tbody>
      <% @ads.each do |ad|  %>
          <tr>
              <td><%= link_to ad.name, ad_path(ad.id), class:"text-dark" %></td>
              <td><%= ad.restaurant.name %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-sm-5">
    <%= link_to 'Voltar', ads_path, class:"btn btn-outline-dark" %>
  </div>
</div>