<div class="container">
  <h1>Cozinhas</h1><br><br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      <% @cuisines.each do |cuisine|  %>
          <tr>
              <td><%= link_to cuisine.name, cuisine_path(cuisine) %></td>
          </tr>
      <% end %>
    </tbody>
  </table><br><br>

  <div class="col-sm-5">
    <%= link_to 'Nova cozinha', new_cuisine_path, class:"btn btn-primary" %>
    <%= link_to 'Voltar', root_path, class:"btn btn-secondary" %>
  </div>
</div>