<div class="container">
  <%= form_tag "/search", method: :get, class:"input-group px-10 py-10" do %>
    <%= text_field_tag :q, nil, placeholder: 'Buscar', class:"form-control" %>
    <div class="input-group-append">
      <%= submit_tag 'Buscar', class:"btn btn-outline-dark" %>
    </div>
  <% end %>
</div>