<div class="container mt-4">
  <div class="row row-cols-1 justify-content-center">
    <div class="col-10 text-justify">
      <h1>Quem Somos</h1>
      <span class="text-about" >
        A riqueza gastronômica de Santos é vasta, a cidade está repleta de lugares que inovam ou que atendem muito bem quando o assunto é comida, onde o ambiente e localização também são essenciais.<br>
        Você que mora ou visita Santos com certeza já foi surpreendido ao achar um restaurante excelente onde menos esperava, ou então um restaurante que não atingiu suas expectativas apesar do preço ou localização.<br>
        Pensando nisso surgiu a ideia de criar um espaço virtual que juntasse gente querendo conhecer novos lugares ou falar sobre os que mais frequentam.<br>
        Agora quem tem interesse em conhecer os melhores locais para comer em Santos, ter um aplicativo onde se encontra todas as informações importantes de restaurantes disponíveis e com facilidade, este aplicativo presta um serviço para quem gosta de comer e beber bem, dando informações sobre os espaços, das formas de pagamento, estrutura física, ambiente e localização.<br>
        Todo mundo que já visitou o restaurante pode comentar sobre suas experiências, dando dicas e notas sobre o restaurante, o espaço é livre para indicar um prato favorito, falar honestamente sobre algo que não gostou e muito mais.
      </span>
    </div>
  </div>
</div>