/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

 @import "bootstrap";

 a {
  color: #000000;
  text-decoration: none;
}

.map {
  width: 240px;
  height: 140px;
}

.pict-format {
  width: 275px;
  height: 68.75px;
  margin: 5px;
}

.grid-divider{
  border-right: 1.4px solid #e5e5e5;
}

.search-link:hover{
  color: rgb(220, 0, 0);
  text-decoration:none;
}

.thumb-img{
  width: 100px;
  height: 100px;
}

.carousel-control-next-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  color: rgb(220, 0, 0);
}

.carousel-control-prev-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  color: rgb(220, 0, 0);
}

.custom-range::-webkit-slider-thumb {
  background: rgb(220, 0, 0);
}

.custom-range::-moz-range-thumb {
  background: rgb(220, 0, 0);
}

.custom-range::-ms-thumb {
  background: rgb(220, 0, 0);
}

.custom-range::-webkit-slider-thumb:active {
  background: rgb(255, 0, 0);
}

.custom-range::-moz-range-thumb:active {
  background: rgb(255, 0, 0);
}

.custom-range::-ms-thumb:active {
  background: rgb(255, 0, 0);
}

.rating {
  margin: auto 0;
}

.rating_star{
  background: url('empty-star.png') no-repeat center center;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.on{
  background: url('star.png') no-repeat center center;
}

.onH{
  background: url('star.png') no-repeat center center;
}

.green1{
  color:#009900;
}

.green2{
  color:#00b300;
  font-size:0.7em;
}

.yellow1{
  color:#ff9933;
}

.yellow2{
  color:#ffa64d;
  font-size:0.7em;
}

.red1{
  color:#ff3300;
}

.red2{
  color:#ff471a;
  font-size:0.7em;
}

.no1{
  color:#000;
  font-size:0.9em;
}

.no2{
  color:#000;
  font-size:0.7em;
}

.bread-item:hover{
  color: rgb(220, 0, 0);
  text-decoration: none;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.custom_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.custom_pagination a, .custom_pagination span, .custom_pagination em {
  padding: 0.2em 0.5em; }
.custom_pagination .disabled {
  color: #aaaaaa;
  border: 1px solid #dddddd;
  border-radius: 5px;}
.custom_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #f00;
  border: 1px solid #dddddd;
  border-radius: 5px;}
.custom_pagination a {
  border: 1px solid #dddddd;
  color: #000;
  text-decoration: none;
  border-radius: 5px; }
.custom_pagination a:hover, .custom_pagination a:focus {
  border-color: #f00;
  background: #f00;
  color: white; }
.custom_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.custom_pagination .previous_page, .custom_pagination .next_page {
  border-width: 2px; }
.custom_pagination .previous_page {
  margin-right: 1em;}
.custom_pagination .next_page {
  margin-left: 1em; }
