/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

 @import "bootstrap";

 a {
  color: #000000;
  text-decoration: none;
}

.map {
  width: 240px;
  height: 140px;
}

.pict-format {
  width: 275px;
  height: 68.75px;
  margin: 5px;
}

.grid-divider{
  border-right: 1.4px solid #e5e5e5;
}

.search-link:hover{
  color: rgb(220, 0, 0);
  text-decoration:none;
}

.thumb-img{
  width: 100px;
  height: 100px;
}

.carousel-control-next-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  color: red;
}

.carousel-control-prev-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  color: red;
}

.mt-6{
  margin-top: 50px;
}